* {
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	text-align: center;
}
img {
	max-width: 100%;
	height: auto;
}
.container {
	width: 95%;
	margin: 0 auto;
}
.title {
	font-size: 2.5rem;
}
.title span {
	font-weight: 300;
	font-size: 1em;
}
@media (min-width: 60rem) {
	.title{
		font-size: 3.2rem;
	}

}
.button {
	color: white;
	display: inline-block;
	font-size: 1em;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: 0.5em 1.75em;
}
.button-small {
	font-size: 0.9rem;
	font-weight: 800;
}
.button:hover,
.button:focus {
	background: #ed594e;
}

header {
	position: fixed;
	left: 0;
	right: 0;
	margin: 0em;
	z-index: 500;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li {
	display: inline-block;
	margin: 1em;
}
nav a {
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.8rem;
	padding: 0.5em;
	color: white;
}
nav a:hover,
nav a:focus {
	color: #c1c1c1;
}
.home {
	background-image: url(https://shivengup1851.github.io/imgs/bghome.jpg);
	background-size: cover;
	background-position: center;
	padding: 10em 0;
	color: white;
}
@media (min-width: 760px) {
	.home {
		height: 100vh;
		padding-top: 30vh;
	}
}
.about {
	background-image: url(https://shivengup1851.github.io/imgs/collage.jpg);
	background-size: cover;
	background-position: center;
	overflow: hidden;
	text-align: center;
	padding: 70px;
}
.about h1 {
	text-transform: uppercase;
	margin-bottom: 30px;
	color: #FFFFFF;
	font-size: 34px;
}
.about p {
	color: #FFFFFF;
	letter-spacing: 1.5px;
}
.border {
	display: block;
	margin: auto;
	width: 150px;
	height: 3px;
	background: #ed594e;
	margin-bottom: 30px;
}
.ps {
	margin-bottom: 30px;
}

.ps a {

	display: inline-block;
	margin: 0 30px;
	width: 165px;
	height: 190px;
	overflow: hidden;
	border-radius: 50%;
}
.ps a img {
	width: 100%;
	filter: grayscale(100%);
}
.ps a:hover > img {
	filter: none;
}
.section {
	width: 600px;
	margin: auto;
	font-size: 20px;
	color: white;
	text-align: center;
	overflow: hidden;
}
.section:target { 
	height: auto;
} 
.portfolio {
	background-image: url(https://shivengup1851.github.io/imgs/bgport.jpg);
	background-size: cover;
	background-position: center;
}
@media (min-width: 60rem) {
	.portfolio {
		height: 100vh;
		padding-top: 9vh;
	
	}
}
.portfolio h1 {
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #FFFFFF;
	font-size: 34px;
}
.item {
	margin: 0;
	position: relative;
}
.item img {
	display: block;

}
.desc {
	position: absolute;
	z-index: 100;
	bottom: 0em;
	left: 0em;
	right: 0em;
	color: white;
	background: rgba(0,0,0,0.55);
	padding-bottom: 0.6em;
}
.desc p {
	margin: 1em;
}
@media (min-width: 35rem) {
	.item {
		width: 50%;
		float: left;
	}
}
@media (min-width: 60rem) {
	.item {
		width: 33.33333333%;
		overflow: hidden;
	}
	.desc {
		transform: translateY(150%);
	}
	.item:hover .desc {
		transform: translateY(0%);
	}
}
.contact{
	background-image: url(https://shivengup1851.github.io/imgs/bgcontact.jpg);
	background-size: cover;
	background-position: center;
}
@media (min-width: 60rem) {
	.contact {
		height: 100vh;
		padding-top: 9vh;
	
	}
}
.contact-title {
	padding: 20px;
}
.contact-title h1 {
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 34px;
	line-height: 10px;
}
.contact-title h2 {
	color: #FFFFFF;
	font-size: 22px;
}
.form-control{
	width: 650px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid;
	color: #FFFFFF;
	font-size: 18px;
	margin-bottom: 16px;
}
input{
	height: 45px;
}
form .submit {
	color: white;
	display: inline-block;
	font-size: 1em;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: 0.5em 1.75em;
	width: 225px;
}
form .submit:hover,
form .submit:focus {
	background-color: #ed594e;
}
.wrapper {
	position: absolute;
	text-align: center;
	align-items: center;
	display: flex;
	left: 410px;
}
.wrapper ul {
	list-style: none;
}
.wrapper ul li {
	width: 75px;
	height: 75px;
	line-height: 75px;
	margin: 0 10px;
	cursor: pointer;
	border-radius: 50%;
	float: left;
}
.wrapper ul li .fa {
	color: #FFFFFF;
	margin-top: 10px;
}

.wrapper ul li:hover .fa-phone {
	color: #25d366;
	text-shadow: 0 0 15px #25d366;
}

.wrapper ul li:hover .fa-envelope {
	color: #FFFFFF;
	text-shadow: 0 0 15px #35465d;
}

.wrapper ul li:hover .fa-linkedin-in {
	color: #007bb5;
	text-shadow: 0 0 15px #007bb5;
}

.wrapper ul li:hover .fa-github {
	color: #c9510c;
	text-shadow: 0 0 15px #c9510c;
}
